.container{
    display: flex;
    height: 40rem;
    margin-left: 40rem;
    margin-right: 40rem;
    margin-top: 5rem;
    background-color: indianred;
    border-radius: 25px;
    box-shadow:5px 5px  0em rgba(0, 0, 0, 0.123) ;
}

body{
    background-color: lightgray;
    height: 46.5rem;
}

.app-title{
    margin: 0,auto;
    border-radius: 10px;  
    width: 400px;
    height: 300px;
}

#op{
    text-align: center;
    font-style: italic;
    font-size: 45px;
    padding-left: 12rem;
 }


.notification{
    margin-top: 5rem;
    margin-left: -10rem;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    
}

.weather-container{

    align-items: center;
    font-size: 25px;
    font-style: italic;
    margin: 50rem ,0rem,40rem,50rem;
    width: 500px;
    height: 500px;
   
}

.weather-icon{
    margin-top: 12rem;
    margin-left: 25px;

}

.temperature-value{
    width: 300px;
    height:60px;
    margin-top: 10px;
}

.temperature-value p{
    align-items: center;
    margin-left: -105px;
    font-size: 50px;
    min-height: 100vh;
    text-align: center;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
  
    .container{
        display: flex;
        height: 30rem;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 5rem;
        background-color: indianred;
        border-radius: 25px;
        box-shadow:5px 5px  0em rgba(0, 0, 0, 0.123) ;
    }
    .weather-container{
 
    align-items: center;
    font-size: 15px;
    font-style: italic;
    margin: 50rem ,0rem,40rem,50rem;
    width: 300px;
    height: 300px;
   }

   .weather-icon{
    margin-top: 6rem;
    margin-left: 30px;
}
   
#op{
    text-align: center;
    font-style: italic;
    font-size: 30px;
    padding-left: 4rem;
 }

 .temperature-value p{
    align-items: center;
    margin-left: -105px;
    font-size: 30px;
    min-height: 100vh;
    text-align: center;
    cursor: pointer;
}

.temperature-description p{
    padding: 0px;
    margin-top:10px;
    text-align: center;
    font-size: 1em;
    margin-left: 150px;
}

}

.temperature-value p:hover{
    color: rgba(0, 0, 0, 0.582);
     font-size: 35px;
}

.temperature-description{
    
}

.temperature-description p{
    padding: 8px;
    margin-top:10px;
    text-align: center;
    font-size: 1.2em;
    margin-left: -140px;
}

.location{
    
}

.location p{
    margin-left: -150px;
    text-align: center;
    font-size: 0.8em;
}
