.container{
    display: flex;
    height: 30rem;
    width: 20rem;
    
    margin-left: 500px;
    margin-top: 4rem;
    background-color: indianred;
    border-radius: 25px;
    box-shadow:5px 5px  0em rgba(0, 0, 0, 0.123) ;
}

body{
    background-color: lightgray;
    
}

.app-title{
    margin: 0,auto;
    border-radius: 10px;  
    width: 400px;
    height: 300px;
}

#op{
    text-align: center;
    font-style: italic;
    font-size: 30px;
    padding-left: 7rem;
 }


.notification{
    margin-top: 5rem;
    margin-left: -10rem;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    
}

.weather-container{

    align-items: center;
    font-size: 25px;
    font-style: italic;
    margin: 50rem ,0rem,40rem,50rem;
    width: 500px;
    height: 500px;
   
}

.weather-icon{
    margin-top: 7rem;
    margin-left: 40px;

}

.temperature-value{
    width: 300px;
    height:60px;
    margin-top: 10px;
}

.temperature-value p{
    align-items: center;
    margin-left: -95px;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover{
    color: rgba(0, 0, 0, 0.582);
     font-size: 35px;
}

.temperature-description{
    
}

.temperature-description p{
    padding: 8px;
    margin-top:10px;
    text-align: center;
    font-size: 1em;
    margin-left: -80px;
}

.location{
    
}

.location p{
    margin-left: -85px;
    text-align: center;
    font-size: 0.8em;
}
